doctype html
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Planly
    link(href="https://file.myfontastic.com/78azmPWK8ePo8geKhybbr9/icons.css" rel="stylesheet")
    link(rel="stylesheet" href="css/app.css")
  body
    section
      .wrapper
        .row
          .columns.small-8.small-centered
            .logo
              img.float-center(src="/images/logo.jpg", alt="Logo")
        .row
          .columns.large-12.float-center
            h1 Let's you plan
              = " "
              span events
            .rotator
              #content-1 simp
                span ly
              #content-1 quick
                span ly
              #content-1 easi
                span ly
              #content-1 free
                span ly
              #content-1 bold
                span ly
        .row
          .columns.small-5.small-centered
            a.button.action.float-center(href="#welcome") Learn More
    section#welcome
      .wrapper
        .row
          .columns.small-8.small-centered
            .logo
              img.float-center(src="/images/logo.jpg", alt="Logo")
        .row
          .columns.small-12.small-centered
            h2 Welcome! We're launching soon!
            h3 We are wrapping some things up should be done soon.
            h3 Sign up to get an alert when we're ready.
          .columns.small-5.small-centered
            #mc_embed_signup
              form(action="//weddingnook.us10.list-manage.com/subscribe/post?u=3205c8140b7ab7c62727f87c9&amp;id=07d48bdace" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
                #mc_embed_signup_scroll
                  .mc-field-group
                    label(for="mce-EMAIL") Email Address
                    input.required.email#mce-EMAIL(type="email" value="" name="EMAIL")
                  #mce-responses.clear
                    .response#mce-error-response(style="display:none")
                    .response#mce-success-response(style="display:none")
                  .sdd(style="position: absolute; left: -5000px;" aria-hidden="true")
                    input(type="text" name="b_3205c8140b7ab7c62727f87c9_07d48bdace" tabindex="-1" value="")
                  .clear
                    a(href="#givaway")
                      input.button(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe")
    section
      .wrapper
        .row
          .columns.small-8.small-centered
            .logo
              img.float-center(src="/images/logo.jpg", alt="Logo")
        .row
          .columns.small-12.small-centered
            h2 Party Givaway on us!
            h3 Whoever refers the most friends
            h3 wins a roof top party.
        .row
          .columns.small-5.small-centered
            a.button.action.float-center(href="/") Do It
    section
      .wrapper
        .row
          .columns.small-8.small-centered
            .logo
              img.float-center(src="/images/logo.jpg", alt="Logo")
        .row
          .columns.small-6
            .icons.icon-facebook
          .columns.small-6
            .icons.icon-twitter
        .row
          .columns.large-12
            .icons.icon-mail
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/what-input/what-input.js")
    script(src="bower_components/foundation-sites/dist/foundation.js")
    script(src="js/min/app-min.js")
