doctype html
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    link(rel="canonical" href="http://planly.co/")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="Event, Planning,")
    meta(name="description" content="Check out Planly to see how they’re changing the way we plan events!")
    meta(property="og:title" content="Win a rooftop party!")
    meta(property="og:site_name" content="Planly")
    meta(property="og:url" content="http://planly.co/")
    meta(property="og:description" content="Check out Planly to see how they’re changing the way we plan events!")
    meta(property="og:image" content="http://planly.co/images/planly-square.jpg")
    meta(property="og:type" content="website")
    meta(property="og:locale" content="en_US")
    
    title Planly
    link(href="https://file.myfontastic.com/78azmPWK8ePo8geKhybbr9/icons.css" rel="stylesheet")
    link(rel="stylesheet" href="css/app.css")
  body
    section
      .wrapper
        .row
          .columns.small-8.small-centered
            a.logo(href="/")
              img.float-center(src="/images/logo.jpg", alt="Logo")
        .row
          .columns.large-12.float-center
            h1 let's you plan
              = " "
              span events
            .rotator
              #content-1 simp
                span ly
              #content-1 quick
                span ly
              #content-1 easi
                span ly
              #content-1 free
                span ly
              #content-1 bold
                span ly
        .row
          .columns.medium-5.small-12.medium-centered.small-centered
            a.button.action.float-center(href="http://eepurl.com/bSkVoH") Learn More
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/what-input/what-input.js")
    script(src="bower_components/foundation-sites/dist/foundation.js")
    script(src="js/min/app-min.js")
