doctype html
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Planly
    link(href="https://file.myfontastic.com/78azmPWK8ePo8geKhyb9/icons.css" rel="stylesheet")
    link(rel="stylesheet" href="css/app.css")
  body
    section
      .row
        .columns.small-8.small-centered
          a.logo(href="/")
            img.float-center(src="/images/logo.jpg", alt="Logo")
      .row
        .columns.large-12.float-center
          p
            b 1. Introduction/Eligibility
          p Rooftop Party (the "Promotion") is governed by the following Official Rules. 
          p
            
          p By submitting an entry, Participants agree to the terms of these Official Rules.
          p
            
          p
            | Participants in this Promotion must be legal resident of the United States or Canada, 18 years or older, and accessing this site in the United States or Canada, their territories, possessions, or commonwealths. This Promotion is void in Rhode Island, Quebec, and where prohibited.
          p
            
          p
            | Employees of Planly, and their affiliates subsidiaries, advertising, promotion, fulfillment, or other coordinating agencies, individuals providing services to Planly through an outsourcer or temporary employment agency during the Sweepstakes Period, and their respective immediate family and person living in their same household (as the case may be) are ineligible.
          p
            
          p
            | By submitting an entry, Participants further agree that these Official Rules will be construed and evaluated according to the laws of the United States.
          p
            
          p
            b 2. Promotion Sponsor
          p The sponsor of this promotion (the "Sponsor") is:
          p
            b Wedding Nook Inc
          p
            b 505 E Front St 
          p
            b Coeur d’Alene, Idaho 83814
          p
            
          p
            b 3. Promotion Duration
          p
            | The Promotion will begin on March 1, 2016 at 00:01 EST and run until the company receives funding in excess of $1,000,000USD. All times referenced in these Rules are in the America/New York time zone, and the official time for the purposes of the Promotion will be the time as kept on the servers hosting the Promotion.
          p
            
          p
            b 4. How to Enter
          p No purchase necessary.
          p
            | Participants may enter by sending the templated email to no less than 100 individual email addresses.
          p
            | Each Participant must be a natural person, and each Participant is limited to a single email address used for entry. Multiple Participants are not permitted to share the same email address, Facebook account, and/or other accounts used for entry. Any incorrect or incomplete entry is void.
          p
            | Any attempt by any Participant to obtain entries by using multiple/different email addresses, Facebook and other social media accounts, identities, registrations or logins, or any other methods will void that Participant's entries and that Participant will be disqualified from the Promotion.
          p
            | Any use of robotic, repetitive, automatic, programmed or similar entry methods or agents (including Promotion entry services) will void all entries by that Participant. In the event of a dispute as to any online entry, the authorized account holder of the email address used to enter will be deemed to be the Participant. The "authorized account holder" is the natural person assigned an email address by an Internet access provider, online service provider or other organization responsible for assigning email addresses for the domain associated with the submitted address. Potential winners may be required to show proof of being the authorized account holders.
          p
            | If, in the Sponsor's opinion, there is any suspected or actual evidence of electronic or non-electronic tampering with any portion of the Promotion, or if computer virus, bugs, unauthorized intervention, fraud, or technical difficulties or failures compromise or corrupt or affect the administration, integrity, security, fairness, or proper conduct of the Promotion, the Sponsor reserves the right at their sole discretion to disqualify any individual who tampers with the entry process and void any entries submitted fraudulently, to modify or suspend the Promotion, or to terminate the Promotion and conduct a random drawing to award the prizes using all eligible, non-suspect entries received as of the termination date. Should the Promotion be terminated prior to the stated expiration date, notice will be posted on the Website. Any attempt by a Participant or any other individual to deliberately damage any web site or undermine the legitimate operation of the Promotion is a violation of criminal and civil laws and should such an attempt be made, Sponsor reserves the right to seek damages and other remedies from any such person to the fullest extent permitted by law.
          p
            
          p
            b 5. The Prize
          p The prize Winner will receive:
          p
            | 1 Rooftop Party to be valued no greater than the state of the location’s maximum allowable amount.
          p Odds of winning will vary depending upon the number of entries submitted.
          p
            | The specifics of all aforementioned elements of the prize are solely determined by Sponsor. All costs, taxes, fees, and expenses associated with any element of the prize not specifically addressed above are the sole responsibility of the respective Winner. All federal, state and local taxes on prizes are the prize Winner's responsibility.
          p
            | Prize cannot be transferred, substituted, or redeemed for cash except at Sponsor's sole discretion. Sponsor reserves the right to substitute the prize, or portions thereof, with a prize of equal or greater value.
          p
            
          p
            b 6. Selection and Notification of Winner
          p
            | The prize Winner will be selected in a drawing from all eligible Participants conducted on the Sponsor's behalf through the servers at 
            a(href='http://random.org/') Random.org
            |  or through the servers at PromoSimple's random number generator. The determination made by the servers at 
            a(href='http://random.org/') Random.org
            |  or the PromoSimple servers will be final.
          p
            | The prize Winner will be contacted by email thereafter, will be required to correctly answer unaided a mathematical skill-testing problem if a resident of Canada, and may be required to sign an affidavit of eligibility and release of liability and publicity (where permitted) and tax documents where necessary, and return the same, properly executed, within five (5) days of issuance of prize notification.
          p
            | If Sponsor is unable to contact the prospective winner or winners within three (3) days from first notification attempt, if the prospective winner or winners fail to complete and return all requested forms by the specified date, or if the prospective winner fails to comply with any of the requirements, his/her prize will be forfeited and an alternate prospective winner will be selected. By entering into the Promotion, all Participants consent to the use of their name, photograph, likeness, biography, voice and/or video for advertising and promotional purposes, including online announcements, worldwide and without limitation and without additional compensation, except where prohibited by law.
          p
            | After notification to the prize Winner, the Winner's name may be displayed in place of the Online Entry Form wherever published.
          p
            
          p
            b 7. Privacy
          p
            | When Participants submit their entries, they may be asked to consent to receive promotional emails and reminders from or about the Sponsor. If you do consent to receive those emails, the use of that personal information, and all personal information submitted, will be subject to the privacy policy of the Sponsor.
            | In addition, each entrant must consent to the privacy policy of the third party prize provider, and consent to receiving communications from Planly. Except where prohibited, participation in the Promotion constitutes your consent to Sponsor's use of your name, likeness, entry, and state of residence for promotional purposes in any media without further payment or consideration.
          p
            
          p
            b 8. Governing Law
          p
            | This Promotion is governed by United States law, is subject to the laws and regulations of the 50 States, of the District of Columbia, and of the Federal Government, and is void where prohibited. In the event of a dispute arising out of this Promotion, the Participant agrees that the law of Virginia will govern and specifically consents to personal jurisdiction over any such dispute in Virginia.
          p
            | Any claims, judgments, or awards will be limited to actual costs associated with entering this promotion. The Participant hereby waives any rights or claims to attorney's fees and indirect, special, punitive, incidental, or consequential damages of the Participant, identifiable persons, or third parties, whether foreseeable or not and whether based on negligence or otherwise.
          p
            
          p
            b 9. Severability
          p
            | The provisions of these Rules are severable, and in the event any provision is determined to be invalid or unenforceable, the remaining provisions will remain in effect.
          p
            
          p
            b 10. Liability Waiver
          p
            | The Sponsor and other participating vendors (collectively with Sponsor, the "Promotion Entities"), their respective affiliates, subsidiaries, parent, advertising and promotion agencies, and their respective officers, directors, shareholders, employees and agents, and any and all Internet servers and access provider(s) are not responsible for: any incorrect or inaccurate entry information; human error; technical malfunctions; failures, omissions, interruptions, deletions, or defects of any telephone networks, computer online systems, computer equipment, server providers, or software, including any injury or damage to Participant's or any other person's computer relating to or resulting from participation in this Promotion; inability to access the Website; theft, tampering, destruction, or unauthorized access to, or alteration of entries; transactions that are processed late or incorrectly, or are incomplete or lost due to computer or electronic malfunctions or traffic congestion on the Internet or at any web site; printing or human or other errors; and any entries which are late, lost, incomplete, misdirected, stolen, or any combination thereof. Online submission is not considered proof of delivery or receipt. All entries become the property of Sponsor and will not be returned.
          p
            | By entering, all Participants also agree to release, discharge, indemnify and hold harmless the Promotion Entities and their respective parent companies, subsidiaries, their respective representatives and agents, advertising and promotion agencies, promotion partners and prize suppliers, and all of their respective affiliated companies, employees, officers, directors and shareholders, from and against all claims and damages or liability arising in connection with each Participant's participation and/or entry in the Promotion and/or their receipt or use of any prize awarded in this Promotion or due to any injuries, damages or losses to any person (including death) or property of any kind resulting in whole or in part, directly or indirectly, from acceptance, possession, misuse or use of any prize or participation in any promotion-related activity or participation in this Promotion. Any and all warranties and guarantees are subject to the respective manufacturer's terms.
          p
            | Participants further understand and agree that all rights under Section 1542 of the Civil Code of California ("Section 1542") and any similar law of any state or territory of the United States that may be applicable with respect to the foregoing release are hereby expressly and forever waived. Participants acknowledge that Section 1542 provides that:
          p
            i
              | A general release does not extend to claims which the creditor does not know or suspect to exist in his or her favor at the time of executing the release, which, if known by him or her must have materially affected his or her settlement with the debtor.
          p
            | The releases hereunder are intended to apply to all claims not known or suspected to exist with the intent of waiving the effect of laws requiring the intent to release future unknown claims.
          p
            
          p
            b 11. Contact for Questions
          p
            | In the event any Participant suspects that a technical error has occurred, believes their entry was not properly submitted, or has other questions about this Promotion and its administration, the Sponsor can be contacted at: 
            a(href='mailto:founders@planly.com') founders@planly.com
            | .
            
    
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/what-input/what-input.js")
    script(src="bower_components/foundation-sites/dist/foundation.js")
    script(src="js/min/app-min.js")
