doctype html
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Planly
    link(href="https://file.myfontastic.com/78azmPWK8ePo8geKhybbr9/icons.css" rel="stylesheet")
    link(rel="stylesheet" href="css/app.css")
  body
    section
      .wrapper
        .row
          .columns.medium-8.small-12.small-centered
            a.logo(href="/")
              img.float-center(src="/images/Official-Planly-Logo.png", alt="Planly Logo")
        .row
          .columns.small-12.small-centered
            h2 Party Givaway!
            h3 Whoever refers the most friends
            h3 wins a roof top party - 
              = " "
              span on us
              |.
        .row
          .columns.large-4.small-4
            a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//planly.co/")
              .icons.icon-facebook
          .columns.large-4.small-4
            a(href="http://twitter.com/home?status=Rooftop Party giveaway from a startup?!?! Go check out Planly.co and subscribe to sign up.")
              .icons.icon-twitter
          .columns.large-4.small-4
            a(href="mailto:?subject=Check out Planly.co&body=A startup is giving away a Rooftop Party to get more signups! Go to Planly.co and subscribe for a chance to win!")
              .icons.icon-mail
      a.legal(href="/legal.html") Legal
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/what-input/what-input.js")
    script(src="bower_components/foundation-sites/dist/foundation.js")
    script(src="js/min/app-min.js")
