doctype html
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Planly
    link(href="https://file.myfontastic.com/78azmPWK8ePo8geKhybbr9/icons.css" rel="stylesheet")
    link(rel="stylesheet" href="css/app.css")
  body
    section
      .wrapper
        .row
          .columns.small-8.small-centered
            a.logo(href="/")
              img.float-center(src="/images/logo.jpg", alt="Logo")
        .row
          .columns.small-12.small-centered
            h2 Party Givaway!
            h3 Whoever refers the most friends
            h3 wins a roof top party - 
              = " "
              span on us
              |.
        .row
          .columns.small-4
            a(href="#")
              .icons.icon-facebook
          .columns.small-4
            a(href="http://twitter.com/home?status=Random Message about @stephenfjohnson")
              .icons.icon-twitter
          .columns.large-4
            a(href="mailto:yourfriends@yourdomain.com?subject=Your Subject&body=Message for the body")
              .icons.icon-mail
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/what-input/what-input.js")
    script(src="bower_components/foundation-sites/dist/foundation.js")
    script(src="js/min/app-min.js")
